<html>
<body>
<nav class="navbar navbar-default" th:fragment="navFragment">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://i0.kym-cdn.com/entries/icons/original/000/000/142/feelsgoodman.png">dwarfhub.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/disney/">Disney Dwarfs</a></li>
      <li><a href="/tolkien/">Tolkien Dwarves</a></li>
    </ul>
  </div>
</nav>
</body>
</html>