<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title th:text="${pageTitle}">Passenger</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav th:replace="layouts/nav:: navFragment"></nav>
	<div class="container">
		<h2>Cereals Table</h2>
		
			<div class="jumbotron text-center">
			


		<h1 th:text="${passenger.name}">Name X</h1>
		<h4 th:text="${passenger.age}">Age Y</h4>
		<br />
	</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Passenger</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Survived</td>
					<td th:text="${passenger.survived}">1580</td>
				</tr>
				<tr>
					<td>Class</td>
					<td th:text="${passenger.pclass}">372</td>
				</tr>
				<tr>
					<td>Sex</td>
					<td th:text="${passenger.sex}">7</td>
				</tr>
				<tr>
					<td>Sibling/Spouse</td>
					<td th:text="${passenger.sibsp}">84</td>
				</tr>
				<tr>
					<td>Parch</td>
					<td th:text="${passenger.parch}">8</td>
				</tr>
				<tr>
					<td>Ticket</td>
					<td th:text="${passenger.ticket}">0.9</td>
				</tr>
				<tr>
					<td>Fare</td>
					<td th:text="${passenger.fare}">0.2</td>
				</tr>
				<tr>
					<td>Cabin</td>
					<td th:text="${passenger.cabin}">3</td>
				</tr>
				<tr>
					<td>Embarked</td>
					<td th:text="${passenger.embarked}">0.7</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
