<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">	
<head>
		<meta charset="utf-8"/>
		<title>JAAACK!!</title>
		
		<style type="text/css"></style>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
 		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
	</head>
	<body>
	
	<nav th:replace="layouts/nav :: navFragment"></nav>
	

	
	</body>
</html>