<html>
<body>
<nav class="navbar navbar-default" th:fragment="navFragment">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://localhost:8080/">Largest Buildings</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/floorarea/">Largest Floor Area</a></li>
      <li><a href="/footprint/">Largest Footprint</a></li>
      <li><a href="/volume/">Largest Usable Area</a></li>
    </ul>
  </div>
</nav>
</body>
</html>